
.heading{
    text-align: center;
    font-size: 40px;
}


.first{
    color:chartreuse;
    font-weight: bolder;
  position: relative;
  top: 30px;
  left: 640px;
  font-size: 20px;

}
#first1{
    position: relative;
    top: 30px;
  left: 640px;
  background-color: cyan;
  height: 50px;
  width: 250px;
  border-radius: 30px;
}
.second{
    color:chartreuse;
    font-weight: bolder;
    position: relative;
    top: 30px;
    left: 640px;
    font-size: 20px;
}

#second2{
    position: relative;
    top: 30px;
    left: 640px;
  height: 50px;
  width: 250px;
  background-color: cyan;
  border-radius: 30px;
}
.third{
    color:chartreuse;
    font-weight: bolder;
    position: relative;
    top: 30px;
    left: 640px;
    font-size: 20px;
}

#third3{
    position: relative;
    top: 30px;
    left: 640px;
  height: 50px;
  width: 250px;
  background-color: cyan;
  border-radius: 30px;
}

.our-Button{
    width: 190px;
    height: 50px;
    border-radius: 40px;
    background-color: fuchsia;
    position: relative;
    top: 50px;
    left: 680px;
}


.Show-data{
    display: flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
     border: 3px solid black;
    width: 900px;
    height: auto;
     position:relative;
    top: 120px;
    left:300px; 
    background-color: aquamarine;

} 
.span{
    border: 3px solid black;
    border-radius: 20px;
    justify-content: space-evenly;
    text-align: center;
  display: inline-block;
  width: 400px;
  height: 50px;
  padding-top: 20px;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
  background-color: coral;

}
